<main class="flex items-center justify-center min-h-screen bg-gray-100 dark:bg-black">
  <div class="max-w-lg mx-auto p-8 bg-white rounded-lg shadow dark:bg-gray-900 dark:text-white">
    <h1 class="text-3xl font-bold text-center mb-4 text-red-600">Page Not Found</h1>
    <p class="text-lg text-center mb-5">
      Sorry, the page you requested could not be found.<br>
      <%= link_to 'Go to Home', root_path, class: 'text-blue-600 hover:underline' %>
    </p>
  </div>
</main>

