<% content_for :title, "New Project" %>

<div class="flex justify-center items-start min-h-screen bg-gray-50 dark:bg-black">
  <div class="w-full max-w-5xl mx-auto my-10">
    <!-- Align heading style and margin with Dashboard -->
    <div class="mb-10">
      <h1 class="text-4xl font-extrabold text-gray-900 dark:text-white mb-8 text-center">
        New Project
      </h1>
    </div>
    <div class="w-full max-w-xl mx-auto">
      <%= render "form", post: @post %>

      <%= link_to "Back to projects", posts_path, class: "block text-center mt-4 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium" %>
    </div>
  </div>
</div>

